#create-wrapper {
    padding: 30px;

    form {
        
        input {
            display: block;
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #999999;
            border-radius: 7px;

            &[type="submit"] {
                cursor: pointer;
                font-size: 15px;
            }
        }
    }
}